{% extends 'base.html' %}

{% block content %}
<h2>Most Valuable Items</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Value</th>
    </tr>
  </thead>
  <tbody>
    {% for item in most_valuable_items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.get_category_display }}</td>
      <td>{{ item.quantity }}</td>
      <td>${{ item.price }}</td>
      <td>${{ item.total_value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
